@import 'src/variables';

.display-tablet-desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.display-mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}
